.sss-share-bar {
    text-align: center;
    margin: 10px 0;
}

.sss-button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 15px;
    color: white;
    background-color: #0073aa;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sss-button:hover {
    background-color: #005177;
}

.sss-share-bar .sss-button {
    background-color: #0073aa !important;
    color: white !important;
  }
  .sss-share-bar .sss-button:hover {
    background-color: #005177 !important;
    color: white !important;
  }
  